.link{
  color:aqua;
  font-size: 20px;
}

.parrafo{
  border: 2px solid;
  color:white;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.table{
  border: 5px solid;
  color:white;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
}
